KEYCLOAK_HOSTNAME=https://login-staging.sabilulquran.or.id
KEYCLOAK_HTTP_PORT=8080
KEYCLOAK_MANAGEMENT_PORT=9000
KEYCLOAK_MEMORY_LIMIT=2g

KEYCLOAK_DB_NAME=keycloak_staging
KEYCLOAK_DB_USERNAME=keycloak
KEYCLOAK_DB_PASSWORD=

KEYCLOAK_BOOTSTRAP_ADMIN_USERNAME=sq-bootstrap-admin
KEYCLOAK_BOOTSTRAP_ADMIN_PASSWORD=
